In [52]:
import pandas as pd
import numpy as np

In [3]:
train_ds = pd.read_csv("data/full_version/train/train_dataset.csv")
val_ds = pd.read_csv("data/full_version/val/val_dataset.csv")

In [4]:
total_df = train_ds.append(val_ds)

In [5]:
len(total_df)

37344

In [6]:
total_df.groupby('sex').babyname.count()

sex
boy     15546
girl    21798
Name: babyname, dtype: int64

In [53]:
total_df['first_letter'] = total_df.babyname.map(lambda x: x[0])
total_df['first_two_letter'] = total_df.babyname.map(lambda x: x[:2])
total_df['last_letter'] = total_df.babyname.map(lambda x: x[-1])
total_df['last_two_letter'] = total_df.babyname.map(lambda x: x[-2:])

In [54]:
total_df.head()

   babyname   sex first_letter last_letter last_two_letter first_two_letter
0    Tiahna  girl            T           a              na               Ti
1   Alethia  girl            A           a              ia               Al
2  Apolline  girl            A           e              ne               Ap
3    Sorell  girl            S           l              ll               So
4   Luciole  girl            L           e              le               Lu

In [39]:
by_first_letter = total_df.groupby('first_letter').babyname.count().sort_values(ascending=False).reset_index().rename(columns={'babyname':'cnt'})

by_first_letter['ratio'] = ((by_first_letter.cnt / by_first_letter.cnt.sum()).map(lambda x: np.round(x, 3)))
by_sex = total_df.groupby(['sex', 'first_letter']).babyname.count().sort_values(ascending=False).reset_index().rename(columns={'babyname':'cnt'})

by_first_letter_girl = by_sex[lambda x: x.sex == 'girl']
by_first_letter_boy = by_sex[lambda x: x.sex == 'boy']

by_first_letter_girl['ratio'] = ((by_first_letter_girl.cnt / by_first_letter_girl.cnt.sum()).map(lambda x: np.round(x, 3)))
by_first_letter_boy['ratio'] = ((by_first_letter_boy.cnt / by_first_letter_boy.cnt.sum()).map(lambda x: np.round(x, 3)))

In [81]:
def aggregate_by(target_column):

    by_first_letter = total_df.groupby(target_column).babyname.count().sort_values(ascending=False).reset_index().rename(columns={'babyname':'cnt'})

    by_first_letter['ratio'] = ((by_first_letter.cnt / by_first_letter.cnt.sum()).map(lambda x: np.round(x, 3)))
    by_sex = total_df.groupby(['sex', target_column]).babyname.count().sort_values(ascending=False).reset_index().rename(columns={'babyname':'cnt'})

    by_first_letter_girl = by_sex[lambda x: x.sex == 'girl']
    by_first_letter_boy = by_sex[lambda x: x.sex == 'boy']

    by_first_letter_girl['ratio'] = ((by_first_letter_girl.cnt / by_first_letter_girl.cnt.sum()).map(lambda x: np.round(x, 3)))
    by_first_letter_boy['ratio'] = ((by_first_letter_boy.cnt / by_first_letter_boy.cnt.sum()).map(lambda x: np.round(x, 3)))
    
    print(by_first_letter.head())
    
    print(by_first_letter_girl.head())
    print(by_first_letter_boy.head())
    
    return by_first_letter, by_first_letter_girl, by_first_letter_boy
    
by_first_letter, by_first_letter_girl, by_first_letter_boy = aggregate_by('first_two_letter')

  first_two_letter   cnt  ratio
0               Ma  1454  0.039
1               Ka   914  0.024
2               Sh   864  0.023
3               Ca   856  0.023
4               Al   842  0.023
    sex first_two_letter  cnt  ratio
0  girl               Ma  907  0.042
1  girl               Ka  726  0.033
2  girl               Sh  715  0.033
3  girl               Ca  624  0.029
4  girl               Ch  600  0.028
    sex first_two_letter  cnt  ratio
5   boy               Ma  547  0.035
12  boy               Ha  368  0.024
15  boy               Al  336  0.022
20  boy               Da  305  0.020
22  boy               De  300  0.019

/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [82]:
girl_df = by_first_letter_girl.rename(columns={'ratio': 'girl_ratio'})[['first_two_letter', 'girl_ratio']]
boy_df = by_first_letter_boy.rename(columns={'ratio': 'boy_ratio'})[['first_two_letter', 'boy_ratio']]
merged_ratio = pd.merge(girl_df, boy_df, on='first_two_letter')
merged_ratio['difference'] = (merged_ratio.girl_ratio - merged_ratio.boy_ratio).map(lambda x: np.abs(x))
merged_ratio.sort_values(by='difference', ascending=False)

    first_two_letter  girl_ratio  boy_ratio  difference
2                 Sh       0.033      0.010       0.023
1                 Ka       0.033      0.012       0.021
4                 Ch       0.028      0.013       0.015
27                Ha       0.009      0.024       0.015
3                 Ca       0.029      0.015       0.014
55                Ba       0.005      0.017       0.012
63                Ga       0.004      0.014       0.010
9                 Jo       0.018      0.010       0.008
7                 La       0.020      0.013       0.007
31                Co       0.009      0.016       0.007
26                Ar       0.010      0.017       0.007
21                Li       0.012      0.005       0.007
0                 Ma       0.042      0.035       0.007
5                 Ja       0.024      0.017       0.007
103               Wa       0.002      0.009       0.007
16                Da       0.014      0.020       0.006
78                Ab       0.004      0.010       0.006
18                Le       0.013      0.007       0.006
8                 Ta       0.018      0.012       0.006
148               Go       0.001      0.006       0.005
128               We       0.001      0.006       0.005
159               Bu       0.001      0.006       0.005
17                De       0.014      0.019       0.005
14                El       0.015      0.010       0.005
10                Ro       0.017      0.013       0.004
11                An       0.017      0.013       0.004
84                Cr       0.003      0.007       0.004
70                Th       0.004      0.008       0.004
95                Bo       0.003      0.007       0.004
53                St       0.006      0.010       0.004
..               ...         ...        ...         ...
152               Im       0.001      0.001       0.000
155               Dy       0.001      0.001       0.000
194               Ts       0.000      0.000       0.000
214               Dw       0.000      0.000       0.000
212               If       0.000      0.000       0.000
210               Ng       0.000      0.000       0.000
208               Oz       0.000      0.000       0.000
207               Ao       0.000      0.000       0.000
206               Aj       0.000      0.000       0.000
204               Ee       0.000      0.000       0.000
202               Ib       0.000      0.000       0.000
201               Zy       0.000      0.000       0.000
200               Ub       0.000      0.000       0.000
199               Yv       0.000      0.000       0.000
196               Tw       0.000      0.000       0.000
193               Of       0.000      0.000       0.000
160               Sc       0.001      0.001       0.000
183               Zs       0.000      0.000       0.000
181               Dh       0.000      0.000       0.000
176               Ef       0.001      0.001       0.000
175               Xa       0.001      0.001       0.000
172               Gh       0.001      0.001       0.000
170               Oc       0.001      0.001       0.000
168               Vo       0.001      0.001       0.000
167               Ku       0.001      0.001       0.000
166               Nu       0.001      0.001       0.000
165               Eg       0.001      0.001       0.000
164               Un       0.001      0.001       0.000
163               Hy       0.001      0.001       0.000
279               Sj       0.000      0.000       0.000

[280 rows x 4 columns]

In [83]:
by_first_letter, by_first_letter_girl, by_first_letter_boy = aggregate_by('last_letter')

girl_df = by_first_letter_girl.rename(columns={'ratio': 'girl_ratio'})[['last_letter', 'girl_ratio']]
boy_df = by_first_letter_boy.rename(columns={'ratio': 'boy_ratio'})[['last_letter', 'boy_ratio']]
merged_ratio = pd.merge(girl_df, boy_df, on='last_letter')
merged_ratio['difference'] = (merged_ratio.girl_ratio - merged_ratio.boy_ratio).map(lambda x: np.abs(x))
merged_ratio.sort_values(by='difference', ascending=False)

  last_letter    cnt  ratio
0           a  10693  0.286
1           e   6471  0.173
2           n   4813  0.129
3           y   1992  0.053
4           s   1825  0.049
     sex last_letter    cnt  ratio
0   girl           a  10198  0.468
1   girl           e   4989  0.229
3   girl           n   1690  0.078
8   girl           y   1036  0.048
11  girl           i    927  0.043
   sex last_letter   cnt  ratio
2  boy           n  3123  0.201
4  boy           o  1519  0.098
5  boy           e  1482  0.095
6  boy           s  1448  0.093
7  boy           r  1123  0.072

/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

   last_letter  girl_ratio  boy_ratio  difference
0            a       0.468      0.032       0.436
1            e       0.229      0.095       0.134
2            n       0.078      0.201       0.123
10           o       0.008      0.098       0.090
7            s       0.017      0.093       0.076
9            r       0.009      0.072       0.063
11           d       0.007      0.059       0.052
6            l       0.026      0.066       0.040
17           k       0.001      0.027       0.026
8            t       0.015      0.040       0.025
14           m       0.002      0.022       0.020
3            y       0.048      0.061       0.013
4            i       0.043      0.033       0.010
5            h       0.041      0.032       0.009
21           f       0.000      0.008       0.008
20           c       0.000      0.007       0.007
12           g       0.002      0.009       0.007
15           z       0.002      0.009       0.007
25           w       0.000      0.006       0.006
22           v       0.000      0.006       0.006
13           u       0.002      0.008       0.006
18           b       0.001      0.005       0.004
23           j       0.000      0.003       0.003
24           p       0.000      0.003       0.003
16           x       0.001      0.002       0.001
26           q       0.000      0.001       0.001
19           -       0.000      0.000       0.000

In [84]:
by_first_letter, by_first_letter_girl, by_first_letter_boy = aggregate_by('last_two_letter')

girl_df = by_first_letter_girl.rename(columns={'ratio': 'girl_ratio'})[['last_two_letter', 'girl_ratio']]
boy_df = by_first_letter_boy.rename(columns={'ratio': 'boy_ratio'})[['last_two_letter', 'boy_ratio']]
merged_ratio = pd.merge(girl_df, boy_df, on='last_two_letter')
merged_ratio['difference'] = (merged_ratio.girl_ratio - merged_ratio.boy_ratio).map(lambda x: np.abs(x))
merged_ratio.sort_values(by='difference', ascending=False)

  last_two_letter   cnt  ratio
0              na  2419  0.065
1              ne  1713  0.046
2              ia  1510  0.040
3              ie  1022  0.027
4              on  1000  0.027
    sex last_two_letter   cnt  ratio
0  girl              na  2375  0.109
1  girl              ne  1476  0.068
2  girl              ia  1472  0.068
3  girl              la   909  0.042
5  girl              ta   837  0.038
    sex last_two_letter  cnt  ratio
4   boy              on  890  0.057
8   boy              an  763  0.049
12  boy              er  558  0.036
16  boy              in  482  0.031
17  boy              us  476  0.031

/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

    last_two_letter  girl_ratio  boy_ratio  difference
0                na       0.109      0.003       0.106
2                ia       0.068      0.002       0.066
1                ne       0.068      0.015       0.053
38               on       0.005      0.057       0.052
3                la       0.042      0.002       0.040
25               an       0.009      0.049       0.040
4                ta       0.038      0.002       0.036
6                ra       0.036      0.002       0.034
45               er       0.004      0.036       0.032
7                da       0.033      0.001       0.032
106              us       0.001      0.031       0.030
5                ie       0.038      0.013       0.025
11               ha       0.023      0.001       0.022
12               sa       0.023      0.001       0.022
163              rd       0.000      0.020       0.020
176              io       0.000      0.020       0.020
21               in       0.011      0.031       0.020
10               ee       0.025      0.006       0.019
8                ah       0.027      0.008       0.019
13               ka       0.020      0.002       0.018
124              os       0.000      0.017       0.017
198              no       0.000      0.016       0.016
9                le       0.027      0.011       0.016
29               ll       0.008      0.023       0.015
15               ya       0.018      0.003       0.015
14               te       0.018      0.004       0.014
18               en       0.016      0.029       0.013
28               el       0.009      0.022       0.013
160              ck       0.000      0.012       0.012
71               ar       0.002      0.014       0.012
..              ...         ...        ...         ...
157              ag       0.000      0.000       0.000
145              ui       0.000      0.000       0.000
152              xy       0.000      0.000       0.000
187              ii       0.000      0.000       0.000
110              pe       0.001      0.001       0.000
109              hy       0.001      0.001       0.000
98               ze       0.001      0.001       0.000
218              uc       0.000      0.000       0.000
217              sl       0.000      0.000       0.000
215              rb       0.000      0.000       0.000
86               yl       0.001      0.001       0.000
211              yx       0.000      0.000       0.000
89               cy       0.001      0.001       0.000
209              bb       0.000      0.000       0.000
90               je       0.001      0.001       0.000
207              bs       0.000      0.000       0.000
205              dr       0.000      0.000       0.000
203              e-       0.000      0.000       0.000
190              dl       0.000      0.000       0.000
202              eg       0.000      0.000       0.000
201              ep       0.000      0.000       0.000
101              at       0.001      0.001       0.000
199              zz       0.000      0.000       0.000
102              bi       0.001      0.001       0.000
195              oo       0.000      0.000       0.000
194              yi       0.000      0.000       0.000
193              dh       0.000      0.000       0.000
105              eh       0.001      0.001       0.000
191              bh       0.000      0.000       0.000
273              Or       0.000      0.000       0.000

[274 rows x 4 columns]

In [89]:
merged_ratio[lambda x: x.last_two_letter == 'an']

   last_two_letter  girl_ratio  boy_ratio  difference
25              an       0.009      0.049        0.04

In [77]:
by_first_letter, by_first_letter_girl, by_first_letter_boy = aggregate_by('last_letter')

  last_letter    cnt  ratio
0           a  10693  0.286
1           e   6471  0.173
2           n   4813  0.129
3           y   1992  0.053
4           s   1825  0.049
     sex last_letter    cnt  ratio
0   girl           a  10198  0.468
1   girl           e   4989  0.229
3   girl           n   1690  0.078
8   girl           y   1036  0.048
11  girl           i    927  0.043
   sex last_letter   cnt  ratio
2  boy           n  3123  0.201
4  boy           o  1519  0.098
5  boy           e  1482  0.095
6  boy           s  1448  0.093
7  boy           r  1123  0.072

/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/junkwhinger/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [16]:
total_df.groupby('last_letter').babyname.count().sort_values(ascending=False)

last_letter
a    10693
e     6471
n     4813
y     1992
s     1825
o     1684
l     1602
i     1438
h     1383
r     1321
d     1072
t      946
k      442
m      382
g      190
z      180
u      169
f      127
c      122
v      107
b       93
w       90
x       59
p       58
j       44
q       24
-       12
.        2
J        1
C        1
,        1
Name: babyname, dtype: int64

In [19]:
total_df.groupby(['sex', 'last_letter']).babyname.count().sort_values(ascending=False)

sex   last_letter
girl  a              10198
      e               4989
boy   n               3123
girl  n               1690
boy   o               1519
      e               1482
      s               1448
      r               1123
girl  y               1036
boy   l               1031
      y                956
girl  i                927
boy   d                915
girl  h                883
boy   t                629
girl  l                571
boy   i                511
      h                500
      a                495
      k                422
girl  s                377
boy   m                338
girl  t                317
      r                198
      o                165
      d                157
boy   z                138
      g                137
      f                120
      u                119
      c                114
      v                101
      w                 87
      b                 78
      p                 54
girl  g                 53
      u                 50
      m                 44
      z                 42
boy   j                 39
      x                 37
      q                 23
girl  x                 22
      k                 20
      b                 15
      -                  8
      c                  8
      f                  7
      v                  6
      j                  5
      p                  4
boy   -                  4
girl  w                  3
boy   .                  2
girl  q                  1
      C                  1
      ,                  1
boy   J                  1
Name: babyname, dtype: int64

In [29]:
by_last_two_df = total_df.groupby(['last_two_letter', 'sex']).babyname.count()

In [88]:
total_df[lambda x: x.sex == 'boy'][lambda x: x.last_two_letter == 'us'].sort_values(by='babyname')

,babyname,sex,first_letter,last_letter,last_two_letter,first_two_letter
30593,Abdus,boy,A,s,us,Ab
1828,Achilleus,boy,A,s,us,Ac
11101,Achillius,boy,A,s,us,Ac
10896,Adelfus,boy,A,s,us,Ad
10444,Adelphus,boy,A,s,us,Ad
9193,Adolphus,boy,A,s,us,Ad
4413,Adulfus,boy,A,s,us,Ad
24235,Aegeus,boy,A,s,us,Ae
5186,Aemilianus,boy,A,s,us,Ae
16151,Aemilius,boy,A,s,us,Ae
8229,Aengus,boy,A,s,us,Ae
17933,Aeolus,boy,A,s,us,Ae
10589,Agapetus,boy,A,s,us,Ag
9908,Agathius,boy,A,s,us,Ag
30684,Agustus,boy,A,s,us,Ag
673,Aigeus,boy,A,s,us,Ai
6275,Aiolus,boy,A,s,us,Ai
5399,Akillius,boy,A,s,us,Ak
28934,Albanus,boy,A,s,us,Al
9828,Albertus,boy,A,s,us,Al
7498,Albinus,boy,A,s,us,Al
26820,Albus,boy,A,s,us,Al
20474,Aldous,boy,A,s,us,Al
3193,Aldus,boy,A,s,us,Al
31872,Aleksius,boy,A,s,us,Al
32321,Alfaeus,boy,A,s,us,Al
19199,Alfeus,boy,A,s,us,Al
19937,Alfonsus,boy,A,s,us,Al
24729,Alfonzus,boy,A,s,us,Al
22196,Aloisius,boy,A,s,us,Al
...,...,...,...,...,...,...
4461,Theseus,boy,T,s,us,Th
972,Thonus,boy,T,s,us,Th
21109,Tiberius,boy,T,s,us,Ti
16620,Timotheus,boy,T,s,us,Ti
32966,Titus,boy,T,s,us,Ti
3694,Tyrus,boy,T,s,us,Ty
390,Urbanus,boy,U,s,us,Ur
22582,Ursinus,boy,U,s,us,Ur
16550,Ursus,boy,U,s,us,Ur
25591,Valentinus,boy,V,s,us,Va
1372,Valerius,boy,V,s,us,Va
2615,Vasilius,boy,V,s,us,Va
1881,Vasilus,boy,V,s,us,Va
7542,Vergilius,boy,V,s,us,Ve
27380,Vigilius,boy,V,s,us,Vi
1491,Vincentius,boy,V,s,us,Vi
747,Virginius,boy,V,s,us,Vi
27566,Vitus,boy,V,s,us,Vi
13301,Vivianus,boy,V,s,us,Vi
2006,Wenceslaus,boy,W,s,us,We
19132,Wilhelmus,boy,W,s,us,Wi
19611,Willhelmus,boy,W,s,us,Wi
18255,Xanthus,boy,X,s,us,Xa
4533,Zacchaeus,boy,Z,s,us,Za
32148,Zaccheus,boy,Z,s,us,Za
32493,Zacheus,boy,Z,s,us,Za
43,Zenobius,boy,Z,s,us,Ze
18615,Zephyrinus,boy,Z,s,us,Ze
9432,Zephyrus,boy,Z,s,us,Ze
13593,Zeus,boy,Z,s,us,Ze