In [165]:
import glob

data_dir = "../babynames_dataset/data/"
csv_paths = sorted(glob.glob(data_dir + "*.csv"))

In [166]:
import pandas as pd

tmp = []
for csv in csv_paths:
    tmp_df = pd.read_csv(csv)
    tmp.append(tmp_df)

In [167]:
total_df = pd.concat(tmp)

In [168]:
total_df['initial'] = total_df['NAME'].map(lambda x: x[0].upper())

In [178]:
total_df.babyname.map(lambda x: len(x)).max()

15

In [169]:
total_df.groupby('sex').initial.nunique()

sex
boy     26
girl    26
Name: initial, dtype: int64

In [170]:
total_df.head()
total_df.columns = ['babyname', 'origin', 'popularity', 'sex', 'initial']
total_df.origin.fillna("NA", inplace=True)

In [171]:
count_by_origin = total_df.groupby(['origin', 'sex']).agg({'babyname': 'count'}).rename(columns={'babyname': 'name_count'}).reset_index()

In [172]:
merged_df = pd.merge(total_df, count_by_origin, on=['origin', 'sex'])

In [173]:
merged_df.head()

    babyname  origin  popularity  sex initial  name_count
0     Aakesh  Indian         NaN  boy       A         146
1  Aandaleeb  Indian         NaN  boy       A         146
2      Aakav  Indian         NaN  boy       A         146
3      Aamin  Indian         NaN  boy       A         146
4  Aatmadeva  Indian         NaN  boy       A         146

In [174]:
filtered_df = merged_df[lambda x: x.name_count > 1]

In [157]:
from sklearn.model_selection import train_test_split

In [160]:
train_set, val_set = train_test_split(filtered_df[['babyname', 'sex']], test_size=0.1, random_state=42, stratify=filtered_df[['origin', 'sex']])

In [161]:
dataset_dir = "dataset"
import os

if not os.path.exists(dataset_dir):
    os.makedirs(dataset_dir)

In [162]:
train_set.to_csv(dataset_dir + "/train_dataset.csv", index=None)
val_set.to_csv(dataset_dir + "/val_dataset.csv", index=None)

In [164]:
len(train_set), len(val_set)

(33609, 3735)